$primary-color: #5956e9;
$secondary-color: #67bff9;
$gray-color: #191919;
$tertiary-color: #e4e7fa85;
$white-color: #ffffff;
$text-color: #272d38;
$font-poppins: "Poppins", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;
$circle-color: #4e65ea;
$footer-color: #3f65f0;
$footer-gray: #919090;

$radius-button: 10px;
$radius-section: 30px;
